body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f8ff; /* Fundo azul claro */
  }
  .content {
    flex: 1;
  }
  .navbar-brand {
    font-weight: bold;
    color: #ffffff !important; /* Cor branca para o nome da marca */
  }
  .navbar {
    background-color: #007bff; /* Fundo azul */
  }
  .nav-link {
    color: #ffffff !important; /* Cor branca para os links de navegação */
  }
  .nav-link:hover {
    color: #cccccc !important; /* Cinza claro ao passar o mouse */
  }
  .footer {
    background: #007bff; /* Fundo azul */
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #ffffff; /* Texto branco */
  }
  .alert-warning {
    background-color: #ffebcc; /* Fundo amarelo claro */
    border-color: #ffe0b3; /* Borda laranja claro */
  }
  .icon-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  .icon-button:hover {
    color: #0056b3;
  }
  .modal-body {
    max-height: 400px;
    overflow-y: auto;
  }